
.main-content {
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/img/keep_my_score_bkg2.png");
  position: relative;
}

.reset-container {
  margin-right: 3vw;
  height: 4vh;
  width: 94vw;
  float: right;
  color: white;
  text-align: right;
  font-size: 20px;
  position: relative;
}

.reset-container a:visited, .reset-container a:active, .reset-container a:link, .reset-container a:hover {
  color: white;
}

.top-score, .bottom-score {
  height: 25vh;
  width: 94vw;
  border: 5px solid white;
  border-radius: 10px;
  margin-left: 3vw;
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 19vh;
  position: relative;
}

.player-text-holder {
  position: absolute;
  top: -5px;
  width: 91vw;
  font-size: 5vh;
  color: white;
  text-align: center;
}

.top-score {

}

.bottom-score {
  margin-top: 1vh
}

.top-buttons-holder, .bottom-buttons-holder {
  margin-top: 1vh;
  width: 94vw;
  height: 16vh;
  margin-left: 3vw;
}

.minus-holder, .plus-holder {

  color: white;
  text-align: center;
  font-size: 8vh;
  border: 5px solid white;
  border-radius: 10px;
  width: 50%;
  float: left;
}

.minus-holder {

}

.plus-holder {

}
